{% extends "base.html" %}
{% load static %}
{% block title %}Messanger{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static "posts/style.css" %}">
<style>
    .input-group {
        display: flex;
        align-items: center;
    }
    
    textarea {
        resize: none;
    }
    
    .modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .modal-content {
        max-width: 500px;
        margin: auto;
    }
    .message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .message.text-right {
        align-items: flex-end;
    }
    
    .message-image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }
</style>
{% endblock styles %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-center">
                        <a href="{% url "users:profile" user_sender.username %}">
                            <img style="border-radius: 50%;" src="{{ user_sender.avatar.url }}" alt="" width="52" height="52">
                        </a>
                        <div class="ml-3">
                            <h5 class="mb-1"><a style="text-decoration:none; color: black;" href="{% url "users:profile" user_sender.username %}">
                                {{ user_sender.first_name }} {{ user_sender.last_name }}</a></h5>
                            <p class="mb-1" style="margin-bottom: 0;">{% if not is_online %} Last seen {{ last_activity }}.. {% else %}Online{% endif %}</p>
                        </div>

                    </div>
                </div>
                <div class="card-body" id="chat-messages" style="height: 685px; overflow-y: auto;">
                    <!-- Сообщения чата -->
                    {% if not messages %}
                    <div class="d-flex justify-content-center" id="start-div" style="margin-top: 50%;">
                        <h3>Write him right now)</h3>
                    </div>
                    {% else %}
                        {% for message in messages %}
                            {% if message.sender == user_receiver %}
                                <div class="media mb-3 d-flex justify-content-end">
                                    <div class="media-body text-right">
                                        <div class="message bg-primary text-white p-2 rounded" style="max-width: 580px;">
                                            {{ message.content }}
                                            <small style="background-color: #9966cc;" class="text-dark">{{ message.get_timestamp }}</small>
                                            {% if message.file %}
                                                <img src="{{ message.file.url }}" data-image="{{ message.file.url }}" style="object-fit: cover;" class="message-image mt-2">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="media mb-3 d-flex">
                                    <div class="media-body">
                                        <div class="message bg-light p-2 rounded" style="max-width: 580px;">
                                            {{ message.content }}
                                            <small style="background-color: #9966cc;" class="text-dark">{{ message.get_timestamp }}</small>
                                            {% if message.file %}
                                                <img src="{{ message.file.url }}" data-image="{{ message.file.url }}" style="object-fit: cover;" alt="" class="message-image mt-2">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <form action="" method="post" enctype="multipart/form-data" class="form-control">
                    <textarea class="form-control" id="chat-message-input" type="text" rows="1"></textarea>
                    <button class="form-control" id="chat-message-submit">Send</button>
                    <input type="file" id="photo-input" class="btn btn-info form-control">
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <div class="rounded-5" style="height: auto;">
                <div class="list-group">
                    <a href="" class="list-group-item list-group-item-action">All chats</a>
                    <a href="" class="list-group-item list-group-item-action">Unread</a>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="chatId" id="chatId" value="{{ chat_id }}">
<input type="hidden" name="user_receiver" id="user_receiver_id" value="{{ user_receiver.id }}">
<div id="modalPost" class="modal">
    <span class="close-modal">&times;</span>]
    <img id="modalPostImg" src="" alt="Photo">
</div>
{% endblock content %}
{% block scripts %}
<script>
    const successMessage = $("#jq-notification");
    const chatBlock = document.getElementById("chat-messages");
    chatBlock.scrollTop = chatBlock.scrollHeight;
    document.addEventListener("DOMContentLoaded", function() {
        const chatId = "{{ chat_id }}";
        const userId = "{{ user_receiver.id }}";
        const socket = new WebSocket("ws://" + window.location.host + "/ws/chat/" + chatId + "/");

        socket.onopen = function() {
            console.log('WebSocket connection established');
        };

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            const messageElement = document.createElement('div');
            messageElement.className = "media mb-3 d-flex";
            if (data.username === "{{ user_receiver.username }}") {
                messageElement.className += " justify-content-end";
                messageElement.innerHTML = `
                    <div class="media-body text-right">
                        <div class="message bg-primary text-white p-2 rounded" style="max-width: 580px;">
                            ${data.message}
                            <small style="background-color: #9966cc;" class="text-dark">Just now</small>
                            ${data.file_url ? `<img src="${data.file_url}" alt="" class="message-image mt-2">` : ''}
                        </div>
                    </div>
                `;
            } else {
                messageElement.innerHTML = `
                    <div class="media-body">
                        <div class="message bg-light p-2 rounded" style="max-width: 580px;">
                            ${data.message}
                            <small style="background-color: #9966cc;" class="text-dark">Just now</small>
                            ${data.file_url ? `<img src="${data.file_url}" alt="" class="message-image mt-2">` : ''}
                        </div>
                    </div>
                `;
            }
            document.getElementById('chat-messages').appendChild(messageElement);
        };

        socket.onerror = function(error) {
            console.error('WebSocket Error: ', error);
        };

        socket.onclose = function() {
            console.log('WebSocket connection closed');
        };

        document.getElementById('chat-message-submit').onclick = function(event) {
            event.preventDefault();
            const messageInput = document.getElementById('chat-message-input');
            const fileEl = document.getElementById('photo-input');
            const file = fileEl.files[0];
            const message = messageInput.value.trim();
            if (!file && !message) {
                alert("You can't send absolutly empty message")
                return
            }
            if (file) {
                const formData = new FormData();
                formData.append('photo', file);
                formData.append('user_id', userId);
                formData.append('chat_id', chatId);

                fetch('/messanger/upload/', {
                    method: 'POST',
                    body: formData,
                }).then(response => response.json()).then(data => {
                    if (data.success) {
                        socket.send(JSON.stringify({
                            'message': message,
                            'user_id': userId,
                            'chat_id': chatId,
                            'file_url': data.url,
                            'filename': data.filename,
                        }));
                    }
                    else {
                        alert(data.message)
                    }
                });
            } else {
                socket.send(JSON.stringify({
                    'message': message,
                    'user_id': userId,
                    'chat_id': chatId,
                }));
            }
            messageInput.value = '';
            fileEl.value = '';
        };
    });
    var modal = $("#photoModal");
    var modalImg = $("#modalPhoto");
    var closeModalBtn = $(".close-modal");
    var photoId = null;

    $(".message-image").click(function () {
        var imageUrl = $(this).data("image");
        $("#modalPostImg").attr("src", imageUrl);
        $("#modalPost").show();
    })

    closeModalBtn.click(function() {
        modal.hide();
        $("#modalPost").hide();
    });
</script>
{% endblock scripts %}