{% extends "base.html" %}
{% load static %}
{% block title %}Apps{% endblock title %}
{% block content %}
<div class="container mt-3">
    <h1>Apps</h1>
    <hr>
    <div>
        <a href="{% url "apps:ai_images" %}" class="" style="display: inline-block;">
            <img class="rounded-3" style="border: 2px solid black; margin-top:10px;" src="{% static "images/replicate.png" %}" width="232.7" height="225">
            <span style="display: block;">AI generate images</span>
        </a>
        <a href="{% url "apps:generate_avatar_rick_and_morty" %}" class="" style="display: inline-block;">
            <img class="rounded-3" style="border: 2px solid black; margin-top:10px;" src="{% static "images/rick_morty_preview.jpg" %}" width="232.7" height="225">
            <span style="display: block;">RandM avatar generate</span>
        </a>

    </div>
 
</div>

{% endblock content %}