{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "modules/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "users/login-registration.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
    {% include "includes/notifications.html" %}
    <div class="container">
        <div class="wrapper">
          <div class="title"><span>Login</span></div>
          <form action="{% url "users:login" %}" method="POST">
            {% csrf_token %}
            {% if form.errors %}
              <h5>Invalid login or password or your account does not varified</h5>
            {% endif %}
            <div class="row">
              <i class="fas fa-user"></i>
              <input name="username_or_email" id="id_username" type="text" placeholder="Username" required>
            </div> 
      
            <div class="row">
              <i class="fas fa-lock"></i>
              <input name="password" id="id_password" type="password" placeholder="Password" required>
            </div>

            <div class="row button">
              <input type="submit" value="Sign in">
            </div>
          </form>
          <a class="btn btn-dark mx-3 my-3" href="{% url "users:registration" %}">Have not account?</a>
        </div>
      </div>
    <script src="{% static "modules/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "modules/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "scripts/notif.js" %}"></script>
</body>
</html>