{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static "photos/style.css" %}">
<link rel="stylesheet" href="{% static "posts/style.css" %}">
{% endblock styles %}
{% block content %}
<div class="row mt-3">
    <div class="col">
        <div class="profile-header d-flex align-items-center">
            <button id="uploadBtn" style="background-color: transparent; opacity: 100%; border-radius:50%; border: solid 2px black;">
                {% if user.avatar %}
                    <img id="previewImg" style="border-radius: 50%;" src="{{ user.avatar.url }}" width="168" height="168">
                {% else %}
                    <img id="previewImg" style="border-radius: 50%;" src="{% static "images/User-avatar.svg.png" %}" width="168" height="168">
                {% endif %}
            </button>
            <input type="file" id="fileInput" style="display: none;">
            <div>
                <h1 style="margin-left:30px;">{{ user.first_name }} {{ user.last_name }}</h1>
                <p style="color:gray; margin-left:30px;">{% if is_online %} Online {% elif not is_online %}Last seen {{ last_activity }}{% endif %}</p>

                <p class="profile-bio" id="shortInf" style="margin-left:30px;">{% if user.user_profile.small_info %}{{ user.user_profile.small_info }}{% else %}No information{% endif %}
                    {% if request.user.username == user.username %}
                    <button id="showBlock" class="btn btn-primary" style="width:px; height:20px;"></button>
                    {% endif %}
                </p>
                {% if request.user.username != user.username %}
                    {% if user not in request.user.friends.all %}
                        <a href="{% url "users:send_friend_request" user.username %}"id="sendRequest" class="btn btn-dark" style="margin-left:30px;">To add friend</a>
                    {% endif %}
                {% endif %}
                <div id="hiddenBlock" style="display: none; margin-left:30px;">
                    <textarea type="text" id="textInput" style="resize: none;"></textarea>
                    <button id="saveButton" style="position:relative; bottom:7px;">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div style="position: absolute; margin-left: 568px;" class="profile-stats">
    <div class="stat">
        <div class="rounded-5 align-items-center" style="background-color: #eeeeee; margin-left:30px; width: 370px; height: 200px;">
            <span class="m-3" style="color: white;"><b><a href="{% url "users:friends" user.username %}">Friends</a></b> <span style="color:grey;">{{ friends.count }}</span></span>
            {% if user.friends %}
            <div style="margin-left: 18px;">
                {% for friend in friends %}
                {% if forloop.counter <= 8 %}
                    <a href="{% url 'users:profile' friend.username %}" style="opacity: 100%; background: transparent;">
                        <img id="previewImg" style="border-radius: 50%; margin-left: 10px; margin-top: 10px; border: solid 2px black;" src="{{ friend.avatar.url }}" width="64" height="64">
                    </a>
                {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div style="width: 540px; height: 200px; background: #eeeeee;" class="rounded-5">
    <div>
        {% for photo in photos %}
        <a href="#" class="photo-link" data-image="{{ photo.photo.url }}" data-photo-id="{{ photo.id }}">
            <img class="{% if forloop.counter == 1 %}m-3{% endif %} rounded-3" style=" {% if forloop.counter > 1 %}position: relative; right:16px;{% endif %} border: 2px solid black;" id="previewImg" src="{{ photo.photo.url }}" width="166" height="166">
        </a>
        {% endfor %}
    </div>
</div>

<div id="photoModal" class="modal">
    <span class="close-modal">&times;</span>]
    <img id="modalPhoto" src="" alt="Photo">
    {% if request.user.username == user.username %}
        <a class="btn btn-danger delete-photo-btn" style="position: absolute; bottom: 0; left: 0;">Delete photo</a>
    {% endif %}
</div>

<div id="modalPost" class="modal">
    <span class="close-modal">&times;</span>]
    <img id="modalPostImg" src="" alt="Photo">
</div>

<a href="{% url "photos:photos" user.username %}" class="btn btn-dark">View all</a>
<hr/>
{% if user.username == request.user.username %}
<div class="create-post">
    <form action="{% url "users:profile" request.user.username %}" method="post" enctype="multipart/form-data" class="form-control">
        {% csrf_token %}
        <textarea id="text-content" name="text_content" class="form-control" rows="6"></textarea>
        <input id="file-content" name="file_content" type="file" name="">
        <button id="sendReqBtn" class="btn btn-primary">Create post</button>
    </form>
</div>
{% endif %}
<hr>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-9">
        {% include "includes/posts.html" %}
    </div>
    <div class="col-md-3">
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corporis eveniet corrupti blanditiis eligendi, saepe reprehenderit mollitia temporibus molestias at magnam, deserunt necessitatibus laudantium ex voluptatum eos quaerat veritatis. Enim!</span>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static "photos/open_photo.js" %}"></script>
<script src="{% static "users/profile.js" %}"></script>
<script src="{% static "posts/posts_scripts.js" %}"></script>
{% endblock scripts %}