{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block content %}
<div class="row mt-3">
    <div class="col">
        <div class="profile-header d-flex align-items-center">
            <button id="uploadBtn" style="background-color: transparent; opacity: 100%; border-radius:50%; border: solid 2px black;">
                {% if user.avatar %}
                    <img id="previewImg" style="border-radius: 50%;" src="/media/{{ user.avatar }}" width="168" height="168">
                {% else %}
                    <img id="previewImg" style="border-radius: 50%;" src="{% static "images/User-avatar.svg.png" %}" width="168" height="168">
                {% endif %}
            </button>
            <input type="file" id="fileInput" style="display: none;">
            <div>
                <h1 class="profile-name" style="margin-left:30px;">{{ user.first_name }} {{ user.last_name }}</h1>
                <p class="profile-bio" id="shortInf" style="margin-left:30px;">{% if user.user_profile.small_info %}{{ user.user_profile.small_info }}{% else %}No information{% endif %}
                    {% if request.user.username == user.username %}
                    <button id="showBlock" class="btn btn-primary" style="width:px; height:20px;"></button>
                    {% endif %}
                </p>
                {% if request.user.username != user.username %}
                    {% if user not in request.user.friends.all %}
                        <a href="{% url "users:send_friend_request" user.username %}"id="sendRequest" class="btn btn-dark" style="margin-left:30px;">To add friend</a>
                    {% endif %}
                {% endif %}
                <div id="hiddenBlock" style="display: none; margin-left:30px;">
                    <textarea type="text" id="textInput"></textarea>
                    <button id="saveButton" style="position:relative; bottom:7px;">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div style="position: absolute; margin-left: 568px;" class="profile-stats">
    <div class="stat">
        <div class="rounded-5 align-items-center" style="background-color: #505050; margin-left:30px; width: 370px; height: 200px;">
            <span class="m-3" style="color: white;"><b>Friends</b> <span style="color:grey;">{{ friends.count }}</span></span>
            {% if user.friends %}
            <div style="margin-left: 18px;">
                {% for friend in friends %}
                {% if forloop.counter <= 8%}
                    <a href="{% url 'users:profile' friend.username %}" style="opacity: 100%; background: transparent;">
                        <img id="previewImg" style="border-radius: 50%; margin-left: 10px; margin-top: 10px; border: solid 2px black;" src="/media/{{ friend.avatar }}" width="64" height="64">
                    </a>
                {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div style="width: 540px; height: 200px; background: #505050;" class="rounded-5">
    <div>
        <a href="/media/{{ user.avatar }}">
            <img class="m-3 rounded-3" style="border: 2px solid black;" id="previewImg" src="/media/{{ user.avatar }}" width="166" height="166">
        </a>
        <a href="/media/{{ user.avatar }}">
            <img class="rounded-3" style="position: relative; right:16px; border: 2px solid black;" id="previewImg" src="/media/{{ user.avatar }}" width="166" height="166">
        </a>  
        <a href="/media/{{ user.avatar }}">
            <img class="rounded-3" style="position: relative; right:16px; border: 2px solid black;" id="previewImg" src="/media/{{ user.avatar }}" width="166" height="166">
        </a>
    </div>
</div>
<hr/>
<div class="profile-posts">
    <h2>Последние посты</h2>
    <div class="post">
        <div class="post-header">
            <img src="" alt="Post Author Picture" class="post-author-picture">
            <span class="post-author-name">Имя автора</span>
            <span class="post-time">2 часа назад</span>
        </div>
        <div class="post-content">
            <p>Текст поста...</p>
        </div>
        <div class="post-actions">
            <button class="like-button">Нравится</button>
            <button class="comment-button">Комментировать</button>
        </div>
    </div>    
    <!-- Еще посты -->
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static "users/profile.js" %}"></script>
{% endblock scripts %}