{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static "modules/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "users/login-registration.css" %}">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
    {% include "includes/notifications.html" %}
    <div class="container">
        <div class="wrapper">
          <div class="title"><span>Registration</span></div>
          <form action="{% url "users:registration" %}" method="post">
            {% csrf_token %}
            {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              {% endfor %}
            {% endif %}
            <div class="row">
              <i class="fas fa-user"></i>
              <input name="username" id="id_username" type="text" placeholder="Username" required>
            </div> 

            <div class="row">
              <i class="fas fa-user"></i>
              <input name="first_name" id="id_firstname" type="text" placeholder="Firstname" required>
            </div>            
            
            <div class="row">
              <i class="fas fa-user"></i>
              <input name="last_name" id="id_lastname" type="text" placeholder="Lastname" required>
            </div>
      
            <div class="row">
              <i class="fas fa-user"></i>
              <input name="email" id="id_email" type="email" placeholder="Email" required>
            </div>
      
            <div class="row">
              <i class="fas fa-lock"></i>
              <input name="password1" id="id_password1" type="password" placeholder="Password" required>
            </div>
      
            <div class="row">
              <i class="fas fa-lock"></i>
              <input name="password2" id="id_password2" type="password" placeholder="Confirm password" required>
            </div>
            <span id="warning"></span>
            <div style="position: relative; right: 10px; margin-bottom: 10px;" class="g-recaptcha" data-sitekey="6LeCR-ApAAAAAOagmPXMZDGZLWPs1P1kNL7q7C-B"></div>
            <div class="row button">
              <input class="" id="btnSub" type="submit" value="Sign up">
            </div>
          </form>
      
        </div>
      </div>
    <script src="{% static "modules/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "modules/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "scripts/notif.js" %}"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>

</body>
</html>