{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "modules/bootstrap.min.css" %}">
</head>
<body>
  {% include "includes/notifications.html" %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-md-auto" style="margin-left:18%;">
            <li class="nav-item">
              <a class="nav-link disabled">SocialNet</a>
            </li>
            <li class="form-control" style="margin-left:50px;">
              <label>Поиск</label>
              <input id="search" type="text">
            </li>
          </ul>
          <div style="text-align: center; margin-left:27%">
            <a class="nav-link" href="" style="display: inline-block; margin-right:20px;">Settings</a>
            <a class="nav-link" href="{% url "users:logout" %}" style="display: inline-block;">Logout</a>
          </div>
        
        </div>
      </nav>
      <div class="container">
        <div class="row">
            <div class="col-3" style="max-width:170px;">
                <ul style="margin-top:15px;">
                    <li class="list-group-item"><a href="{% url "users:profile" request.user.username %}" class="btn btn-light" style=" min-width: 130px;">Profile</a></li>
                    <li class="list-group-item"><a href="/feed" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Feed</a></li>
                    <li class="list-group-item"><a href="#" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Messanger</a></li>
                    <li class="list-group-item"><a href="{% url "users:friends" request.user.username %}" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Friends</a></li>                    
                    <li class="list-group-item"><a href="#" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Groups</a></li>
                    <li class="list-group-item"><a href="#" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Photos</a></li>
                    <li class="list-group-item"><a href="#" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Music</a></li>
                    <li class="list-group-item"><a href="#" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Video</a></li>
                </ul>
            </div>
            <div class="col-9">
                {% block content %}{% endblock content %}
            </div>
              
        </div>
    </div>
    
    <script src="{% static "modules/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "modules/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "scripts/notif.js" %}"></script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>
