{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block styles %}{% endblock styles %}
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "modules/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "base_styles.css" %}">
</head>
<body>
  {% include "includes/notifications.html" %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-md-auto" style="margin-left:18%;">
            <li class="nav-item">
              <a class="nav-link disabled">SocialNet</a>
            </li>
            <li class="form-control" style="margin-left:50px;">
              <label>Поиск</label>
              <input id="search" type="text">
            </li>
          </ul>
          
          <div style="text-align: center; margin-left:68%; position: absolute;">
            <a class="nav-link" href="" style="display: inline-block; margin-right:20px;">Settings</a>
            <a class="nav-link" href="{% url "users:logout" %}" style="display: inline-block;">Logout</a>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
            <div class="col-3" style="max-width:170px;">
                <ul style="margin-top:15px;">
                    <li class="list-group-item"><a href="{% url "users:profile" request.user.username %}" class="btn btn-light" style=" min-width: 130px;">Profile</a></li>
                    <li class="list-group-item"><a href="/feed" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Feed</a></li>
                    <li class="list-group-item"><a href="{% url "messanger:chats_page" %}" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Messanger</a></li>
                    <li class="list-group-item"><a href="{% url "users:friends" request.user.username %}" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Friends</a></li>                    
                    <li class="list-group-item"><a href="#" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Groups</a></li>
                    <li class="list-group-item"><a href="{% url "photos:photos" request.user.username %}" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Photos</a></li>
                    <li class="list-group-item"><a href="{% url "audios:audios" request.user.username %}" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Music</a></li>
                    <li class="list-group-item"><a href="{% url "apps:index" %}" class="btn btn-light" style="margin-top:10px; min-width: 130px;">Apps</a></li>
                </ul>
            </div>
            <div class="col-9">
                {% block content %}{% endblock content %}
            </div>
              
        </div>
    </div>
    <audio src="{% static "sounds/sound_of_notification.mp3" %}" style="display: none;" id="notifSound"></audio>
    <div id="notificationContainer"></div>
    <script src="{% static "modules/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "modules/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "scripts/notif.js" %}"></script>
    <script>
//    document.addEventListener("DOMContentLoaded", function () {
        function updateUserStatus(status) {
          fetch("/update_status/", {
              method: "POST",
              headers: {
                  "Content-Type": "application/json",
              },
              body: JSON.stringify({ status: status })
          });
        }
        
        updateUserStatus('online');
        
        const intervalId = setInterval(() => updateUserStatus('online'), 15000);
        
        window.onbeforeunload = function() {
            updateUserStatus('offline');
            clearInterval(intervalId);
        };
        const notifSound = document.getElementById("notifSound")
        const socketNotif = new WebSocket("ws://" + window.location.host + "/ws/notifications/" + "{{ request.user.id }}" + "/");
        socketNotif.onopen = function() {
            console.log('WebSocket connection for notifications established');
        };
    
        socketNotif.onerror = function(error) {
            console.error('WebSocket for notifications Error: ', error);
        };
    
        socketNotif.onclose = function() {
            console.log('WebSocket connection for notifications closed');
        };
    
        socketNotif.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log('Notification received:', data);
            showNotification(data)
        };
        function showNotification(message) {
          const notificationContainer = document.getElementById('notificationContainer');
          const notificationElement = document.createElement('div');
          notificationElement.className = 'notification-block';
          
          const aLink = document.createElement('a');
          aLink.setAttribute('href', `/messanger/${message.username}`);
          aLink.textContent = message.message;
    
          const spanMessage = document.createElement('span');
          spanMessage.className = 'close-btn';
          spanMessage.innerHTML = '&times;';
    
          spanMessage.addEventListener('click', function() {
              notificationContainer.removeChild(notificationElement);
          });
    
          notificationElement.appendChild(aLink);
          notificationElement.appendChild(spanMessage);
          notificationContainer.appendChild(notificationElement);
          console.log(notifSound)
          notifSound.play()
          setTimeout(() => {
            notificationElement.remove();
          }, 6000);
      }
///    });
    </script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>
