{% extends "base.html" %}
{% load static %}
{% block title %}Feed{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static "posts/style.css" %}">
{% endblock styles %}
{% block content %}
<div class="row" style="margin-top: 20px;">
    <div id="posts-block" class="col-md-9">
        {% if posts %}
            {% include "includes/posts.html" %}
                <input type="hidden" name="nextPage" id="nextPage" value="{{ next_page }}">
                {% csrf_token %}
            </div>
        <div class="col-md-3">
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur facilis minus magni fugiat saepe consequuntur, deleniti praesentium iusto aut rem nisi nulla at consectetur! Harum odit temporibus blanditiis ipsum consequuntur?</span>
        </div>
    {% else %}
    <h1>You have not posts</h1>
    {% endif %}
</div>
<div id="modalPost" class="modal">
    <span class="close-modal">&times;</span>]
    <img id="modalPostImg" src="" alt="Photo">
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static "photos/open_photo.js" %}"></script>
<script src="{% static "posts/posts_scripts.js" %}"></script>
{% endblock scripts %}